body {
    position: relative;
    top: 60px;
    font-family: 'Recursive', sans-serif;
}

h1 {
    color: #03a9f4;
    text-shadow: 3px 2px #b3e5fc;
    text-align: center;
    font-size: 100px;
    letter-spacing: 5px;
}

p {
    text-align: center;
    font-size: 25px;
}

#magic {
    animation: color-action 4s infinite alternate;
}

@keyframes color-action {
    0% {color: #f8b195}
    50% {color: #1e90ff}
    100% {color: #9400d3}
}
